*{
	margin:10;
	padding:0;
	 font-family: "Apple LiGothic", regular;

}

body{
	background-color: #F29C38;
}

.mugAnimate img {
	width: 60%;
	height: auto;
}

/*
.anatomyAnimate img {
	max-width: 100%;
	float:left;
	height: auto;
}
*/

 @-webkit-keyframes dropIn {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(200%);
  }

}


/*SPICES CONTAINER*/
.container{
	box-sizing: border-box;
	border-style: solid;
	border-width: 2px;
	margin: 0 auto;
  	display: flex;
  	width: 100%;
  	flex-wrap: wrap;
  	flex-direction: row;
	align-items: center;
  	justify-content: left;
  	font-family: "Apple LiGothic", regular;
  	font-size:18px;
  	padding-left: 40px;
}
.container > div {
	margin: 10px;
}


.cinnamonImage{
	max-width: 100%
	height: auto;
	animation: 2s dropIn;
	animation-fill-mode: forwards;
	padding: 0px;
}

.cardamomImage{
	width: 110%;
	height: auto;
	animation: 2s dropIn;
	animation-delay:3s;
	animation-fill-mode: forwards;
	padding: 0px;
}

.cloveImage{
	width: 110%;
	height: auto;
	animation: 2s dropIn;
	animation-delay:5s;
	animation-fill-mode: forwards;
	padding: 0px;
}

.gingerImage{
	animation: 2s dropIn;
	animation-delay:7s;
	animation-fill-mode: forwards;
	padding: 0px;
}


*@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.cloveText {  
	animation: 2s slideInFromLeft;
}

