*{
	margin:10;
	padding:0;
	 font-family: "Apple LiGothic", regular;

}

body{
	background-color: #F29C38;
}

.mugAnimate img {
	width: 60%;
	max-width: 100%;
	height: auto;
}

/*
.anatomyAnimate img {
	max-width: 100%;
	float:left;
	height: auto;
}
*/

/* Animation for the cinnamon image */
 @-webkit-keyframes cinnamonDropIn {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(170%);
  }

}

/* Animation for the cardamom image */
 @-webkit-keyframes cardamomDropIn {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translate(60%,250%);
  }
 }

/* Animation for the clove image */
 @-webkit-keyframes cloveDropIn {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translate(-200%,325%);
  }
 }

/* Animation for the ginger image */
 @-webkit-keyframes gingerDropIn {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translate(-250%,170%);
  }
 }



/* Container for the spices at the top of the page, before animations */
.container{
	box-sizing: border-box;
	border-style: solid;
	border-width: 2px;
	margin: 0 auto;
  	display: flex;
  	width: 100%;
  	height: auto;
  	flex-wrap: wrap;
  	flex-direction: row;
	align-items: center;
  	justify-content: left;
  	font-family: "Apple LiGothic", regular;
  	font-size:18px;
  	padding-left: 40px;
}


.cinnamonImage img{
	max-width: 100%
	height: auto;
	object-fit: contain;
}

.cinnamonAnimate{
	animation: 2s cinnamonDropIn;
	animation-fill-mode: forwards;
	padding: 0px;
}

.cardamomAnimate{
	max-width: 100%
	height: auto;
	animation: 2s cardamomDropIn;
	animation-delay:3s;
	animation-fill-mode: forwards;
	padding: 0px;
}

.cloveAnimate{
	max-width: 100%
	height: auto;
	animation: 2s cloveDropIn;
	animation-delay:5s;
	animation-fill-mode: forwards;
	padding: 0px;
}

.gingerAnimate{
	max-width: 100%
	height: auto;
	animation: 2s gingerDropIn;
	animation-delay:7s;
	animation-fill-mode: forwards;
	padding: 0px;
}


*@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.cloveText {  
	animation: 2s slideInFromLeft;
}

