*{
	margin:0;
	padding:0;
}

#page-wrap {
     width: 950px;
     margin: 0 auto;
 }

body{
	background-color: #FFFCF0;
}
h1{
	color: #B0C3D6;
	font-family: "Phosphate";
	font-size: 70px;
	padding: 10px 0px 0px 0px;
	text-align: center;
}
h1 a{
	text-decoration: none;
	color: #B0C3D6;
}

/*NAV1*/
.nav1wrapper{
	display:block;
	vertical-align: center;
}
.nav1 li a{
	font-family: "Apple LiGothic";
	display:inline-block;
	text-decoration: none;
	color: #547690;
}
.nav1left {
	float:left; 
	display: inline-block; 
	padding-left: 20px; 
	padding-right: 15px;
	margin-left: 10px;
}

.headerLikesStyle{
	float: right; 
	display: inline-block;
	padding-right: 20px;
	padding-left: 20px;
}

.headerCartStyle {
	float: right; 
	display: inline-block; 
	padding-right: 10px;

}
.headerCartItems {
	float:right; 
	display: inline-block; 
	padding-right: 5px;
	margin-right: 20px;
}

/*NAV2*/
.nav2 ul li{
	font-size: 20px;
	list-style-type: none;
	display: inline-block;
	align-content: center;
	padding-left: 10px;
	padding-bottom: 5px;
}
.nav2 li a{
	font-family: "Apple LiGothic";
	display:inline-block;
	text-decoration: none;
	color: #547690;
	padding-right: 20px;
	padding-left: 20px;
}
li a:hover{
	text-decoration: underline;
}

.likesNav{
	display:inline-block;
	float:right;
}

.LikesImageNav {
	display:inline-block;
	float: left;
}

/* IMAGE STYLING */
.pageTitle h2{
	text-align:left;
	margin: 0 auto;
	font-family: "Apple LiGothic";
	font-size:38px;
	padding: 20px 0px 0px 30px;
}
.pageTitle a{
	text-decoration: none;
	color:black;
}
.submenu{
	text-align: left;
	font-family: "Apple LiGothic";
	color: gray;
	padding: 5px 0px 0px 30px;
}
.submenu2{
	text-align: left;
	font-family: "Apple LiGothic";
	color: gray;
	padding: 5px 0px 0px 0px;
}
.breadcrumbs{
	float:left;
	display: inline-block;
}
.breadcrumbs2{
	padding-bottom: 5px;
}
.submenu a{
	text-decoration: none;
	color:gray;
}
.submenu2 a{
	text-decoration: none;
	color:gray;
}
.sortFilter{
	font-size:20px;
	float:right;
	display: inline-block;
	padding-right: 30px;
}

/*FLOOR POUFS CONTAINER*/
.container{
	margin: 0 auto;
  	display: flex;
  	width: 100%;
  	flex-wrap: wrap;
  	flex-direction: row;
	align-items: center;
  	justify-content: left;
  	font-family: "Apple LiGothic", regular;
  	font-size:18px;
  	padding-left: 40px;
}
.container > div {
	margin: 10px;
}

.desc{
	float: left;
	display: inline-block;
}
.price{
	float: right;
	display: inline-block;
}
.container a{
	text-decoration: none;
	color: black;
}
.detailContainer a:hover{
	text-decoration: underline;
}

/*HOME PAGE CONTAINER --actually, this is useless... might delete later*/
.homeContainer{
	margin: 0 auto;
  	display: flex;
  	width: 100%;
  	flex-wrap: wrap;
  	flex-direction: row;
	align-items: center;
  	justify-content: center;
  	font-family: "Apple LiGothic", regular;
  	font-size:18px;
 }
.homeContainer > div{
	margin: 15px;
}
.homeImg{
	padding-right: 30px;
}
.homegallery{
	display: inline-block;
}
.homeImg{
	display: inline-block;
}

/*PRODUCT DETAILS CONTAINER*/

.detailContainer{
	padding-top: 20px;
	margin: 0 auto;
  	display: flex;
  	width: 100%;
  	flex-wrap: wrap;
  	flex-direction: row;
  	justify-content: left;
  	font-family: "Apple LiGothic", regular;
  	font-size:16px;
  	padding-left: 40px;
  	padding-right:40px;
  	align-content: center;
}
.detailContainer > div {
	margin: 10px;
}
.detailContainer2{
	padding-top: 20px;
	margin: 0 auto;
  	display: flex;
  	width: 90%;
  	flex-wrap: wrap;
  	flex-direction: row;
  	justify-content: left;
  	font-family: "Apple LiGothic", regular;
  	font-size:16px;
  	padding-left: 40px;
  	padding-right:40px;
  	align-content: center;
}
.detailContainer2 > div {
	margin: 10px;
}
.imageAndPrice {
	padding-left:5px;
	padding-bottom: 10px;
}
.imageAndPrice a{
	text-decoration: none;
	color:black;
}
.imageAndPrice a:hover{
	text-decoration: underline;
}

.productTitleandPrice{
	font-family: "Apple LiGothic";
	padding-left: 0px;
	padding-right: 50px;
}
.productTitle{
	font-family: "Apple LiGothic";
	font-size:36px;
	font-weight: bolder;
	text-align: left;
	display:inline-block;
	float:left;
	padding-bottom: 15px;
	padding-right: 60px;
}
.productTitleandPrice a{
	text-decoration: none;
	color: black;
}
.productPrice{
	display:inline-block;
	float:left;
	padding-top: 5px;
	font-size:28px;
}
.leftColumn {
	float:left;
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	padding-left: 30px;
}
.rightColumn {
	float:right;
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	width: 300px;
	padding-left: 15px;
}
ul{
	list-style-type: none;
}
.pickColorFill {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	width:400px;
}
.pickColor {
	width: 400px;
	display:inline-block;
	float:left;
	box-sizing: border-box;
	border-style: solid;
	border-width: 2px;

}
.pickFilling {
	width: 400px;
	display:inline-block;
	float:right;
	box-sizing: border-box;
	border-style: solid;
	border-width: 2px;
}
.colorChoice, .fillChoice{
	padding: 0px 0px 10px 0px;

}
.colorChoice a, .fillChoice a{
	display: inline-block;
	color: black;
	font-size:16px;
	padding-left: 2px;
}
.box{
	display: inline-block;
	border-width: 1px;
	width: 200px;
	height: 35px;
	border-style: solid;
	box-sizing: border-box;
	padding-left: 2px;
}
.box a{
	display: inline-block;
}
.boxImage {
	display: inline-block;
	padding-top: 5px;
	float:left;
}
.boxText {
	display: inline-block;
	padding: 9px 0 0 5px;
}
.boxMyClickState{
	border-color: #B393C3;
}
.fillChoice a{
	color: black;
	padding-top: 9px;
}
.pickColorTitle, .pickFillingTitle{
	padding-left: 0px;
	padding: 5px 50px 7px 2px;
	font-size: 22px;
}
.button {
	font-family: "Apple LiGothic";
	display:inline-block;
	background-color: #547690;
	color: white;
	font-size: 20px;
	width: 180px;
}
.buttonFlex {
	display: flex;
	flex-direction: row;
}
.AddtoCart, .AddtoLikes {
	border-radius: 20px;
	padding: 10px 0 10px 0;
	margin: 10px 0 30px 0px;
}
.AddtoCart{
	display: inline-block;
	float: left;
	margin-left: 10px;
}

.AddtoLikes {
	display: inline-block;
	float: right;
	margin-left: 25px;
}
.button a{
	text-decoration: none;
	color:white;
}
.button a:hover {
	text-decoration: underline;
}
.CartImage, .LikesImage {
	display:inline-block;
	float: left;
	padding-left: 20px;
}
.Button1Text, .Button2Text {
	display:inline-block;
	padding-right: 30px;
}

/* CART PAGE */
.cartPageTitle h2{
	text-align:left;
	margin: 0 auto;
	font-family: "Apple LiGothic";
	font-size:38px;
	padding: 20px 0px 20px 30px;
}
.cartPageTitle a{
	text-decoration: none;
	color:black;
}
.cartContainer{
	padding-top: 20px 80px 0 0px;
	margin: 0 auto;
  	display: flex;
  	width: 70%;
  	flex-wrap: wrap;
  	flex-direction: row;
  	justify-content: left;
  	font-family: "Apple LiGothic", regular;
  	font-size:16px;
  	position:absolute;
  	left: 120px;
}
.cartLeftcolumn {
	display:inline-block;
	display: flex; flex-direction: column; flex-basis: 100%; flex: 1;
	float:left;
	width: 480px;
	align-content: left;
}
/*NOT DESIGNING RIGHT NOW .cartRightcolumn {
	display:inline-block;
	display:flex; flex-direction: column;flex-basis: 100%;flex: 1;
	float:right;
	box-sizing: border-box;
	border-style: solid;
	border-width: 2px;
	border-color: pink;
}
*/
.headerItem {
	display:inline-block;
	float:left;
	padding:0px 0px 7px 2px;
	font-size: 22px;
}
.headerPrice {
	display:inline-block;
	float:right;
	padding: 0px 60px 7px 2px;
	font-size: 22px;
}
/*NOT DESIGNING RIGHT NOW.extrasBox {
	width: 320px;
	display:inline-block;
	float:right;
	box-sizing: border-box;
	border-style: solid;
	border-width: 2px;
}
 .Extras {
	float:left;
	padding: 5px 0px 7px 2px;
	font-size: 22px;
}
*/

.cartBoxHeader{
	border-bottom: 2px solid black;
	margin-bottom: 15px;
}
.checkoutInfo {
	border-bottom: 2px solid black;
	margin: 10px 0 15px 0;
}
.cartImg {
	display:inline-block;
	float:left;
}
.productInfo {
	font-size: 20px;
	display:inline-block;
	float:left;
}
.cartPrice {
	color: white;
	display:inline-block;
	padding: 10px 65px 0px 0px;	
	float:right;
	font-size: 25px;
}

.productInfo {
	color: white;
	font-size: 20px;
	width: 220px;
	text-align: left;
	padding: 10px 0 0 10px;
}

.purpleBox{
	background-color: #B393C3;
	height: 100px;
}

/* BUTTON STYLING (CART PAGE) */

.button {
	font-family: "Apple LiGothic";
	background-color: #547690;
	color: white;
	font-size: 20px;
	width: 220px;
	text-align: center;
}
.cartButtonFlex {
	position: absolute;
	bottom: 150px;
	display: flex;
	flex-direction: row;
}
.continueShopping, .checkout {
	border-radius: 20px;
	padding: 10px 10px 10px 10px;
	margin: 10px 40px 30px 0px;
	text-align: center;
}
.continueShopping{
	display: inline-block;
	float: left;
	margin-left: 220px;
}
.continueShoppingText, .checkoutText {
	display:inline-block;
	padding-right: 30px;
}