body{
	background-color: #FFFCF0;
}
h1{

}
.nav1 ul li{
	list-style-type: none;
	width: 150px;
	margin: 0;
	padding:0;
}
.nav1left {float:left}
.nav1right {float: right;
}
.nav2 ul li{
	list-style-type: none;
	width: 150px;
	float: left;
	text-align: center
	margin: 0;
	padding:0;
}
li a{
	text-decoration: none;
	color: #547690;
	line-height: 50px;
}
li a:hover{
	text-decoration: underline;
}
.pagetitle, .breadcrumbs{text-align: :left;}


.homeGallery{
	width:100%;
	margin: 0 auto;
	display: grid;
    grid-gap: 15px;
   	grid-template-columns:repeat(5, 1fr);
   	grid-auto-flow: dense;
}

.img{
	padding:10px;
}
.homeImg1 > image 1 {
	object-fit: cover;
	width: 100%;
	grid-column: 2/5

}
	/*width:125px;
	height:75px;
    grid-column:1/5;
    grid-row: 1;
    }*/

.homeImg2 > img{
	object-fit: cover;
	width: 100%;
	grid-column: 2/5
}
	/*width:275px;
	height:150px;
    grid-column: 3;
    grid-row: 1;
    }*/
.homeImg3 > img {
	object-fit: cover;
	width: 100%;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row:2;
}
/*
	width:200px;
	height:200px;
    grid-column: 1.5 / 5;
    grid-row: 2;
    }
*/
.homeImg4 > img {
	object-fit: cover;
	width: 100%;
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row:2;

}
/*
	width:300px;
	height:200px;
    grid-column: 3.5 / 5;
    grid-row: 2;
    }
/*
.galleryItem1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
*/